<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paypalcp>
                <active>0</active>
                <model>PayPal\CommercePlatform\Model\Payment\Advanced\Payment</model>
                <order_status>pending_payment</order_status>
                <title>PayPal Checkout Mexico</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
                <sandbox_flag>1</sandbox_flag>
                <handle_pending_payments>1</handle_pending_payments>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>-2</sort_order>
                <installments_active>0</installments_active>
                <client_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <webhook_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <currency>MXN</currency>
                <country_code>MX</country_code>
                <min_order_total>0.50</min_order_total>
                <paymentInfoKeys>card_type,order_id</paymentInfoKeys>
                <fncls>fnparams-dede7cc5-15fd-4c75-a9f4-36c430ee3a99</fncls>
                <enable_stc>0</enable_stc>
                <stc_vertical>retail</stc_vertical>
                <title_paypal>Pago con Paypal</title_paypal>
                <title_card>Pago con tarjeta de Crédito / Débito</title_card>
                <title_oxxo>Pago en Oxxo</title_oxxo>
            </paypalcp>
            <paypalspb>
                <active>1</active>
                <model>PayPal\CommercePlatform\Model\Payment\SPB\Payment</model>
                <order_status>pending_payment</order_status>
                <title>PayPal Smart Payment Button</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
                <sandbox_flag>1</sandbox_flag>
                <status_pending>1</status_pending>
                <installments_active>0</installments_active>
                <client_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <webhook_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <currency>MXN</currency>
                <min_order_total>0.50</min_order_total>
            </paypalspb>
            <paypaloxxo>
                <active>1</active>
                <model>PayPal\CommercePlatform\Model\Payment\Oxxo\Payment</model>
                <order_status>pending_payment</order_status>
                <title>PayPal Oxxo</title>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
                <sandbox_flag>1</sandbox_flag>
                <status_pending>1</status_pending>
                <installments_active>0</installments_active>
                <client_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <webhook_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <currency>MXN</currency>
                <min_order_total>0.50</min_order_total>
            </paypaloxxo>
        </payment>
    </default>
</config>
