<div class="payment-method" data-bind="css: {'_active': ( 'paypalcp_spb' == isSelected())}, attr: {isSel: isSelected()}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode('paypalcp_spb')}, value: getCode('paypalcp_spb'), checked: isChecked, click: selectedPayPalMethod('paypalcp_spb'), visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode('paypalcp_spb')}"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!--         ko foreach: getRegion('messages') -->
        <!--         ko template: getTemplate() -->
        <!-- /ko -->
        <!--         /ko -->

        <div id="paypal-button-container"></div>
        <div class="checkout-agreements-block">
            <!--             ko foreach: $parent.getRegion('before-place-order') -->
            <!--                 ko template: getTemplate() -->
            <!-- /ko -->
            <!--             /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary" data-bind="attr: {'id': getCode('paypalcp_spb')}"></div>
        </div>
    </div>
</div>

<div class="payment-method" data-bind="css: {'_active': ( 'paypalcp_hf' == isSelected())}, attr: {ischek: isSelected(), gcode: getCode()}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode('paypalcp_hf')}, value: getCode('paypalcp_hf'), checked: isChecked, click: selectedPayPalMethod('paypalcp_hf'), visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode('paypalcp_hf')}"><span data-bind="text: getTitle()"></span></label>
        <div class="payment-method-content">
            <!--         ko foreach: getRegion('messages') -->
            <!--         ko template: getTemplate() -->
            <!-- /ko -->
            <!--         /ko -->
            <!--         <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode('paypalcp_hf')}'> -->
            <!--             ko template: 'Magento_Paypal/payment/express/billing-agreement' -->
            <!-- /ko -->
            <!--         </fieldset> -->
            <div id="paypalcheckout" data-bind="afterRender:completeRender() ">
                <!-- Buttons container -->
                <!--
                        <table border="0" align="center" valign="top" bgcolor="#FFFFFF" style="width: 39%">
                            <tr>
                                <td colspan="2">
                                    <div id="paypal-button-container"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        </table>
             -->
                <!-- Advanced credit and debit card payments form -->
                <div class="card_container" style="margin: 20px;">
                    <form id="card-form">

                        <div class="form-group">
                            <label for='card-number'>Card Number</label>
                            <div class='form-control' id='card-number'></div>
                        </div>
                        <div class="form-group" style="width:48%; display: inline-block;">
                            <label for='expiration-date'>Expiration Date</label>
                            <div class='form-control' id='expiration-date'></div>
                        </div>
                        <div class="form-group" style="width:48%; display: inline-block;">
                            <label for='cvv'>CVV</label>
                            <div class='form-control' id='cvv'></div>
                        </div>

                        <div class="form-group" style="width: 95%;">
                            <label for='card-holder-name'>Name on card</label>
                            <input type="text" id="card-holder-name" name="card-holder-name" autocomplete="off"
                                placeholder="card holder name" class='form-control' />
                        </div>
                            <div class="form-group">
                                <label for='installments'>Instalments</label>
                                <select class="form-control" name="installments" id="installments" disabled>
                                    <option value="">No installment available. Fill out the card number</option>
                                </select>
                            </div>
                            <div class="form-group" style="width:50%; display: inline-block; float:left">
                                <input type='checkbox' id='vault' name='vault'> &nbsp; <label for='vault'>Remember this
                                    Card</label>
                            </div>
                        <button value="submit" id="submit" class="btn">Pay</button>
                    </form>
                </div>
            </div>
            </div>
            <div id="paypal-button-container"></div>
            <div class="checkout-agreements-block">
                <!--             ko foreach: $parent.getRegion('before-place-order') -->
                <!--                 ko template: getTemplate() -->
                <!-- /ko -->
                <!--             /ko -->
            </div>
            <div class="actions-toolbar">
                <div class="primary" data-bind="attr: {'id': getCode('Express_button')}"></div>
            </div>
        </div>
</div>
