<div class="ppcp payment-method"
    data-bind="css: {'_active': ( 'paypalspb_card' == isSelected())}, attr: {isSel: isSelected()}, visible: isActiveBcdc()">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode('paypalspb_card')}, value: 'paypalspb_card', visible: isRadioButtonVisible(), event: { change: selectedPayPalMethod('paypalspb_card') }" />
        <label class="label" data-bind="attr: {'for': getCode('paypalspb_card')}">
            <span>Tarjeta de Crédito o Débito</span>
        </label>
    </div>
    <div class="payment-method-content">
        <!--         ko foreach: getRegion('messages') -->
        <!--         ko template: getTemplate() -->
        <!-- /ko -->
        <!--         /ko -->

        <div id="card-button-container" style="min-height: 50px;"></div>
        <div class="checkout-agreements-block">
            <!--             ko foreach: $parent.getRegion('before-place-order') -->
            <!--                 ko template: getTemplate() -->
            <!-- /ko -->
            <!--             /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary" data-bind="attr: {'id': getCode('paypalspb_card')}"></div>
        </div>
    </div>
</div>

<div class="ppcp payment-method"
    data-bind="css: {'_active': ( 'paypalspb_paypal' == isSelected())}, attr: {isSel: isSelected()}, visible: isActiveReferenceTransaction()">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode('paypalspb_paypal')}, value: 'paypalspb_paypal', visible: isRadioButtonVisible(), event: { change: selectedPayPalMethod('paypalspb_paypal')}" />
        <label class="label" data-bind="attr: {'for': getCode('paypalspb_paypal')}">
            <span>Pago con PayPal</span>
        </label>
    </div>
    <div class="payment-method-content">
        <!--         ko foreach: getRegion('messages') -->
        <!--         ko template: getTemplate() -->
        <!-- /ko -->
        <!--         /ko -->

        <!-- ko if: (isActiveReferenceTransaction()) -->
        <div class="agreement-list">
            <div data-bind="if: isActiveReferenceTransaction(), visible: customerBillingAgreements().length > 0">
                <ul>
                    <li>
                        <!-- ko i18n: 'Pay with' -->
                        <!-- /ko -->
                    </li>
                    <!-- ko foreach: customerBillingAgreements -->
                    <li data-bind="attr: {id: 'agreement-' + id}">
                        <input type="radio" name="pp-input-agreement" data-bind="attr: {'id': id, 'value': id}">
                        <label data-bind="attr: {for: id}">
                            <img width="60px" src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" class="paypal-logo" alt="paypal"/>
                            <span data-bind="text: email"> </span>
                        </label>
                        <span class="agreement-delete" data-bind="attr: {'data-id': id}">&nbsp;</span>
                    </li>
                    <!-- /ko -->
                    <li>
                        <input id="new-agreement" type="radio" name="pp-input-agreement" value="new-agreement">
                        <label for="new-agreement">
                            <!-- ko i18n: 'New agreement' -->
                            <!-- /ko -->
                        </label>
                    </li>
                </ul>
                <div id="agreement-token">
                    <label for='installmentsAgreement' data-bind="visible: canShowInstallmentsBA">
                        <!-- ko i18n: 'Pay to MSI' -->
                        <!-- /ko -->
                    </label>
                    <select class="form-control" style="font-size: 14px;" name="installmentsAgreement"
                            id="installmentsAgreement" data-bind=" visible: canShowInstallmentsBA,
                                        options: installmentAgreementOptions,
                                        optionsText: function(i) {
                                            return [
                                                i.value,
                                                i.currency_code,
                                                i.term,
                                                i.interval
                                            ].join('    ');
                                        },
                                        value: selectedInstallmentsBA
                                    ">
                    </select>
                    <button value="submit" id="token-ba-submit" class="btn" disabled="disable">
                        <!-- ko i18n: 'Pay' -->
                        <!-- /ko -->
                    </button>
                </div>
            </div>
            <div id="paypal-button-container-ba"></div>
        </div>
        <!-- /ko -->

        <!-- ko ifnot: (isActiveReferenceTransaction()) -->
        <div data-bind="if: !isActiveReferenceTransaction()" id="paypal-button-container" style="min-height: 50px;"></div>
        <!-- /ko -->

        <div class="checkout-agreements-block">
            <!--             ko foreach: $parent.getRegion('before-place-order') -->
            <!--                 ko template: getTemplate() -->
            <!-- /ko -->
            <!--             /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary" data-bind="attr: {'id': getCode('paypalspb_paypal')}"></div>
        </div>
    </div>
</div>
<div data-bind="afterRender:completeRender() "></div>
