<!-- ko ifnot: (isActiveReferenceTransaction()) -->
<div id="acdc_button" class="ppcp payment-method"
    data-bind="css: {'_active': ( 'paypalcp_spb' == isSelected())}, attr: {isSel: isSelected()}, visible: isVisibleCard()">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode('paypalcp_spb')}, value: 'paypalcp', checked: isChecked, click: selectedPayPalMethod('paypalcp_spb'), visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode('paypalcp_spb')}">
            <span data-bind="text: getTitleMethodPaypal()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!--         ko foreach: getRegion('messages') -->
        <!--         ko template: getTemplate() -->
        <!-- /ko -->
        <!--         /ko -->

        <div id="paypal-button-container" style="min-height: 50px;"></div>

        <div class="checkout-agreements-block">
            <!--             ko foreach: $parent.getRegion('before-place-order') -->
            <!--                 ko template: getTemplate() -->
            <!-- /ko -->
            <!--             /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary" data-bind="attr: {'id': getCode('paypalcp')}"></div>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: (isActiveReferenceTransaction()) -->
<div id="acdc_rt" class="ppcp payment-method"
     data-bind="css: {'_active': ( 'paypalspb_paypal' == isSelected())}, attr: {isSel: isSelected()}, visible: isVisibleCard()">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
               data-bind="attr: {'id': getCode('paypalspb_paypal')}, value: 'paypalcp', checked: isChecked, click: selectedPayPalMethod('paypalspb_paypal'), visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode('paypalspb_paypal')}">
            <span data-bind="text: getTitleMethodPaypal()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!--         ko foreach: getRegion('messages') -->
        <!--         ko template: getTemplate() -->
        <!-- /ko -->
        <!--         /ko -->

        <!-- ko if: (isActiveReferenceTransaction()) -->
        <div class="agreement-list">
            <div data-bind="if: isActiveReferenceTransaction(), visible: customerBillingAgreements().length > 0">

                <ul>
                    <li>
                        <!-- ko i18n: 'Pay with' -->
                        <!-- /ko -->
                    </li>
                    <!-- ko foreach: customerBillingAgreements -->
                    <li data-bind="attr: {id: 'agreement-' + id}">
                        <input type="radio" name="pp-input-agreement" data-bind="attr: {'id': id, 'value': id}">
                        <label data-bind="attr: {for: id}">
                            <img width="60px" src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" class="paypal-logo" alt="paypal"/>
                            <span data-bind="text: email"> </span>
                        </label>
                        <span class="agreement-delete" data-bind="attr: {'data-id': id}">&nbsp;</span>
                    </li>
                    <!-- /ko -->
                    <li>
                        <input id="new-agreement" type="radio" name="pp-input-agreement" value="new-agreement">
                        <label for="new-agreement">
                            <!-- ko i18n: 'New agreement' -->
                            <!-- /ko -->
                        </label>
                    </li>
                </ul>
                <div id="agreement-token">
                    <label for='installmentsAgreement' data-bind="visible: canShowInstallmentsBA">
                        <!-- ko i18n: 'Pay to MSI' -->
                        <!-- /ko -->
                    </label>
                    <select class="form-control" style="font-size: 14px;" name="installmentsAgreement"
                            id="installmentsAgreement" data-bind=" visible: canShowInstallmentsBA,
                                        options: installmentAgreementOptions,
                                        optionsText: getInstallmentText,
                                        value: selectedInstallmentsBA
                                    ">
                    </select>
                    <button value="submit" id="token-ba-submit" class="btn" disabled="disable">
                        <!-- ko i18n: 'Pay' -->
                        <!-- /ko -->
                    </button>
                </div>
            </div>

            <div id="paypal-button-container-ba"></div>
        </div>
        <!-- /ko -->

        <div class="checkout-agreements-block">
            <!--             ko foreach: $parent.getRegion('before-place-order') -->
            <!--                 ko template: getTemplate() -->
            <!-- /ko -->
            <!--             /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary" data-bind="attr: {'id': getCode('paypalcp')}"></div>
        </div>
    </div>
</div>
<!-- /ko -->

<div id="acdc_card" class="ppcp payment-method" data-bind="css: {'_active': ( 'paypalcp_cf' == isSelected())}, visible: isVisibleCard()">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode('paypalcp_cf')}, value: 'paypalcp', checked: isChecked, click: selectedPayPalMethod('paypalcp_cf'), visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode('paypalcp_cf')}">
            <span data-bind="text: getTitleMethodCard()"></span>
        </label>

        <div class="payment-method-content">
            <!-- ko foreach: getRegion('messages') -->
            <!--    ko template: getTemplate() -->
            <!--    /ko -->
            <!-- /ko -->

            <div class="customer-card-list" data-bind="visible: customerCards().length > 0">
                <ul>
                    <li>
                        <!-- ko i18n: 'Pay with' -->
                        <!-- /ko -->
                    </li>
                    <!-- ko foreach: customerCards -->
                    <li data-bind="attr: {id: 'card-' + id}">
                        <input type="radio" name="card" data-bind="attr: {'id': id, 'value': id}">
                        <label data-bind="attr: {for: id}">
                            <span class="brand" data-bind="css: brand"></span>
                            <span data-bind="text: ' x-' + last_digits"> </span>
                        </label>
                        <span class="card-delete" data-bind="attr: {'data-id': id}">&nbsp;</span>
                    </li>
                    <!-- /ko -->
                    <li>
                        <input id="new-card" type="radio" name="card" value="new-card">
                        <label for="new-card">
                            <!-- ko i18n: 'New card' -->
                            <!-- /ko -->
                        </label>
                    </li>
                </ul>
                <div id="customer-card-token">
                    <label for='installmentsCustomerCard' data-bind="visible: canShowInstallments">
                        <!-- ko i18n: 'Pay to MSI' -->
                        <!-- /ko -->
                    </label>
                    <select class="form-control" style="font-size: 14px;" name="installmentsCustomerCard"
                        id="installmentsCustomerCard" data-bind=" visible: canShowInstallments,
                                    disable: !installmentsAvailable(),
                                    options: installmentOptions,
                                    optionsText: getInstallmentText,
                                    value: selectedInstallments
                                ">
                    </select>
                    <button value="submit" id="token-submit" class="btn" disabled="disable">
                        <!-- ko i18n: 'Pay' -->
                        <!-- /ko -->
                    </button>
                </div>
            </div>

            <div id="paypalcheckout" data-bind="afterRender:completeRender() ">
                <!-- Advanced credit and debit card payments form -->
                <div class="card_container" style="margin-top: 20px;">
                    <form id="card-form">

                        <div class="form-group">
                            <label for='card-number'>
                                <!-- ko i18n: 'Card Number' -->
                                <!-- /ko -->
                            </label>
                            <div class='form-control' id='card-number'></div>
                        </div>
                        <div class="form-group" style="width:49%; display: inline-block;">
                            <label for='expiration-date'>
                                <!-- ko i18n: 'Expiration date' -->
                                <!-- /ko -->
                            </label>
                            <div class='form-control' id='expiration-date'></div>
                        </div>
                        <div class="form-group" style="width:50%; display: inline-block;">
                            <label for='cvv'>
                                <!-- ko i18n: 'CVV' -->
                                <!-- /ko -->
                            </label>
                            <div class='form-control' id='cvv'></div>
                        </div>

                        <div class="form-group">
                            <label for='card-holder-name'>
                                <!-- ko i18n: 'Card holder name' -->
                                <!-- /ko -->
                            </label>
                            <div class="form-control" id="card-holder-name">
<!--                                <input type="text" id="card-holder-name" name="card-holder-name" autocomplete="off"-->
<!--                                    placeholder="Nombre del titular" />-->
                            </div>
                        </div>
                        <div class="form-group" data-bind="if: isInstallmentsEnable(), visible: canShowInstallments" style="padding: 0 6px;">
                            <label for='installments'>
                                <!-- ko i18n: 'Pay to MSI' -->
                                <!-- /ko -->
                            </label>
                            <select class="form-control" style="font-size: 14px;" name="installments" id="installments"
                                data-bind="
                                    disable: !installmentsAvailable(),
                                    options: installmentOptions,
                                    optionsText: getInstallmentText,
                                    value: selectedInstallments
                                ">
                            </select>
                        </div>
                        <div class="form-group" style="margin: 10px" data-bind="visible: isRememberCardActive()">
                            <input type='checkbox' id='vault' name='vault' style="display: inline;"><label for='vault'>
                                <!-- ko i18n: 'Remember card' -->
                                <!-- /ko -->
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <button value="submit" id="submit" class="btn">
                                    <!-- ko i18n: 'Pay' -->
                                    <!-- /ko -->
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="checkout-agreements-block">
            <!--    ko foreach: $parent.getRegion('before-place-order') -->
            <!--        ko template: getTemplate() -->
            <!--        /ko -->
            <!--    /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary" data-bind="attr: {'id': getCode('Express_button')}, enable: isFormValid"></div>
        </div>
    </div>
</div>
