<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <group id="recommended_solutions" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <fieldset_css>paypal-top-section paypal-recommended-header</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>
                <group id="paypal_checkout" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayPal Checkout Mexico</label>
                    <attribute type="displayIn">recommended_solutions</attribute>
                    <field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paypalcp/active</config_path>
                    </field>
                    <field id="sandbox_flag" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1">
                        <label>Sandbox Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <attribute type="shared">1</attribute>
                        <config_path>payment/paypalcp/sandbox_flag</config_path>
                    </field>
                    <field id="client_id" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1">
                        <label>Client ID</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/paypalcp/client_id</config_path>
                    </field>
                    <field id="secret_id" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1">
                        <label>Secret ID</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/paypalcp/secret_id</config_path>
                    </field>
                    <field id="webhook_id" translate="label" type="obscure" sortOrder="54" showInDefault="1" showInWebsite="1">
                        <label>Webhook ID</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <comment>Get and configure your Webjook ID on your PayPal Account to recieve payment notifications. Example URL: https://www.your-store.com/paypalcheckout/webhooks</comment>
                        <config_path>payment/paypalcp/webhook_id</config_path>
                    </field>
                    <field id="title" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Title</label>
                        <config_path>payment/paypalcp/title</config_path>
                    </field>
                    <!--
                    <field id="intent" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Intent</label>
                        <config_path>payment/paypalcp/title</config_path>
                    </field>
                    sale -> authorize (capturar al momento de capturar invoice)
                    capture -> capture
                     -->
                    <field id="enable_items" type="select" sortOrder="80" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Transfer Items (Line Items)</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paypalcp/enable_items</config_path>
                    </field>
                    <field id="order_status" type="select" sortOrder="90" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                        <config_path>payment/paypalcp/order_status</config_path>
                    </field>
                    <field id="handle_pending_payments" type="select" sortOrder="95" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Handle Pending Payments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>If set to "No", payments with status "Pending payment" will be rejected at checkout</comment>
                        <config_path>payment/paypalcp/handle_pending_payments</config_path>
                    </field>
                    <field id="debug_mode" type="select" sortOrder="97" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                        <label>Debug Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/paypalcp/debug_mode</config_path>
                    </field>
                    <group id="paypalcp_basic" translate="label" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>PayPal Basic Credit and Debit Card</label>
                        <field id="enable_bcdc" type="select" sortOrder="99" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                            <label>Enable BCDC with Credit and Debit Card Payment Solutions</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paypalcp/enable_bcdc</config_path>
                        </field>
                    </group>
                    <group id="paypalcp_oxxo" translate="label" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>PayPal Oxxo</label>
                        <field id="enable_bcdc" type="select" sortOrder="99" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                            <label>Enable OXXO Payment Solutions</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paypalcp/enable_oxxo</config_path>
                        </field>
                    </group>
                    <group id="paypalcp_advanced" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>PayPal Advanced Credit and Debit Card</label>
                        <field id="enable_acdc" type="select" sortOrder="110" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                            <label>Enable ACDC</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paypalcp/enable_acdc</config_path>
                        </field>
                        <field id="enable_installments" type="select" sortOrder="120" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                            <label>Enable MSI</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paypalcp/enable_installments</config_path>
                            <depends>
                                <field id="enable_acdc">1</field>
                            </depends>
                        </field>
                        <field id="enable_remember_card" type="select" sortOrder="125" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                            <label>Remember Card (Vaulting)</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paypalcp/enable_remember_card</config_path>
                            <depends>
                                <field id="enable_acdc">1</field>
                            </depends>
                        </field>
                        <group id="fraudNet" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="130">
                            <label>FraudNet</label>
                            <depends>
                                <field id="enable_remember_card">1</field>
                            </depends>
                            <field id="fraudner_swi" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="133">
                                <label>Source Web Identifier</label>
                                <config_path>payment/paypalcp/source_web_identifier</config_path>
                            </field>
                            <!--
                        <field id="fraudner_fncls" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="142">
                            <label>fncls value</label>
                            <config_path>payment/paypalcp/fncls</config_path>
                        </field>
 -->
                        </group>
                    </group>
                    <group id="stc" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="126">
                        <label>STC</label>
                        <field id="enable_stc" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="127">
                            <label>Enable STC</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paypalcp/enable_stc</config_path>
                        </field>
                        <field id="stc_merchant_id" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="128">
                            <label>STC Merchant ID</label>
                            <config_path>payment/paypalcp/stc_merchant_id</config_path>
                            <depends>
                                <field id="enable_stc">1</field>
                            </depends>
                        </field>
                        <field id="stc_highrisk_txn_flag" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="129">
                            <label>highrisk_txn_flag</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/paypalcp/stc_highrisk_txn_flag</config_path>
                            <depends>
                                <field id="enable_stc">1</field>
                            </depends>
                        </field>
                        <field id="stc_vertical" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="129">
                            <label>vertical</label>
                            <config_path>payment/paypalcp/stc_vertical</config_path>
                            <depends>
                                <field id="enable_stc">1</field>
                            </depends>
                        </field>
                    </group>
                    <group id="split_display_options" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="130">
                        <label>Split display options</label>
                        <field id="paypal" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="131">
                            <label>Title Method PayPal</label>
                            <config_path>payment/paypalcp/title_paypal</config_path>
                        </field>
                        <field id="card" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="132">
                            <label>Title Method Credit/Debit Card</label>
                            <config_path>payment/paypalcp/title_card</config_path>
                        </field>
                        <field id="oxxo" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="132">
                            <label>Title Method Oxxo</label>
                            <config_path>payment/paypalcp/title_oxxo</config_path>
                        </field>
                    </group>
                    <group id="checkout_button" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="140">
                        <label>Button Options</label>
                        <field id="checkout_button_customize" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                            <label>Customize Button</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <attribute type="shared">1</attribute>
                        </field>
                        <field id="layout" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30">
                            <label>Layout</label>
                            <source_model>PayPal\CommercePlatform\Model\Config\Source\ButtonOptions::getLayout</source_model>
                            <depends>
                                <field id="checkout_button_customize">1</field>
                                <field id="checkout_button_label" negative="1">credit</field>
                            </depends>
                            <attribute type="shared">1</attribute>
                        </field>
                        <field id="color" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                            <label>Color</label>
                            <source_model>PayPal\CommercePlatform\Model\Config\Source\ButtonOptions::getColor</source_model>
                            <depends>
                                <field id="checkout_button_customize">1</field>
                                <field id="checkout_button_label" negative="1">credit</field>
                            </depends>
                            <attribute type="shared">1</attribute>
                        </field>
                        <field id="shape" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                            <label>Shape</label>
                            <source_model>PayPal\CommercePlatform\Model\Config\Source\ButtonOptions::getShape</source_model>
                            <depends>
                                <field id="checkout_button_customize">1</field>
                            </depends>
                            <attribute type="shared">1</attribute>
                        </field>
                        <field id="label" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="60">
                            <label>Label</label>
                            <source_model>PayPal\CommercePlatform\Model\Config\Source\ButtonOptions::getLabel</source_model>
                            <depends>
                                <field id="checkout_button_customize">1</field>
                            </depends>
                            <attribute type="shared">1</attribute>
                        </field>
                        <field id="tagline" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                            <label>Tagline</label>
                            <source_model>PayPal\CommercePlatform\Model\Config\Source\ButtonOptions::getTagline</source_model>
                            <depends>
                                <field id="checkout_button_customize">1</field>
                            </depends>
                            <attribute type="shared">1</attribute>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
